<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>You Pacel Service</title>
  </head>
  <body>
      <h5> <%= yield %> </h5>
  </body>
</html>
